body{
    background-color: #cccccc;
    border-color: #dddddd;
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
    text-decoration-color: #777777;
}

.header{
    background-color: #ffffff;
    border-color: #cccccc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.name{
    background-color: #4aaaa5;
    text-decoration-color: #ffffff;
    float: left;
}

.links{
    text-decoration-line: underline;
    float: right;
}

.form_box{
    border-color: #777777
}

.button{
    background-color: #4aaaa5;
    text-decoration-color: #ffffff;
}

.image_text{
    float: left;
}

.title{
    float: right;
}

.lower{
    margin-top: 50px;
    background-color: #ffffff;
}

.portbody{
    margin-top: 50px;
    background-color: #ffffff
}

#form{
    border-color: #000000;
    border-style: solid;
    border-spacing: 20px;
}

